html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-image: url(http://www.4usky.com/data/out/81/164729359-seascape-wallpapers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Header{
    font-size: 2.5em;
    text-transform: uppercase;
    color: honeydew;
    text-align: center;
    font: italic 7rem "Fira Sans", serif;
    border: 0.9rem solid;
    border-color: #32a1ce red;
    background-color: royalblue;
    background: linear-gradient(rgb(23, 79, 182), rgb(22, 236, 208));
}

#exciting {
    background: linear-gradient(to bottom, #190061, #240090);
    border: 0.2rem solid #000000;
    padding: 0.3rem;
    border-radius: 0.1rem;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
}


h1{
    font-size: 5rem;
}

p{
    font-size: 3rem;
}

.Pic1{
    position: absolute;
    border:0.5rem solid black;
    left: 42.5%;
    top: 30%;
    z-index: 2;
}

.Pic2{
    position: absolute;
    border:0.5rem solid black;
    left: 25%;
    top: 45%;
    z-index: 1;
}

.Pic3{
    position: absolute;
    border:0.5rem solid black;
    left: 55%;
    top: 45%;
}

.Pic4{
    position: absolute;
    border:0.5rem solid black;
    left: 42.5%;
    top: 70%;
    z-index: 2;
}

